.body {
  &__wrap {
    margin: 1.8em 2.2em 5em 2.2em;
  }
}

.section {
  margin: 0 0 2em 0;
}

.contact-link__wrap {
  margin: 0 0 2.8em 0;
}

.project-link__wrap {
  display: flex;
  flex-direction: column;
}

.project-description__wrap {
  width: clamp(300px, 70vw, 800px);
  margin: 3em 0;
}
